.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom:20px;
}

.auth-field {
  width: min(300px, 100%);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.auth-label {
  font-size: var(--fs-lg);
  font-weight: var(--weight-regular);
}

.auth-input {
  height: 36px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: var(--color-white);
  color: var(--color-text);
  padding: 0 14px;
  box-sizing: border-box;
}

/* 2 collumns */
.auth-form-wide {
  width: min(860px, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  row-gap: 12px;
  margin: 0 auto;
}

.auth-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-input {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #999;
}

.file-input.has-file {
  color: var(--color-text);
}

