.g-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.g-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: transparent;
  border: none;
  cursor: pointer;

  padding: 10px 8px;
  border-radius: 10px;

  color: var(--color-white);
}

.g-item:hover {
  background: rgba(255, 238, 2, 0.08);
}

.g-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.material-symbols-outlined{
  color: var(--color-secondary);
  line-height: 1;
}

.g-text {
  font-weight: var(--weight-semi-bold);
}

.g-chev {
  display: inline-block;
  transition: transform 0.2s ease;
  opacity: 0.9;
}

.g-chev--open {
  transform: rotate(180deg);
}

.g-panel {
  margin-left: 17px;
  padding: 6px 8px 10px;
  border-left: 2px solid rgba(255, 238, 2, 0.25);
}

.g-panel__label {
  color: var(--color-secondary);
  font-size: var(--fs-md)
}
