<div class="profile-details">
  <div class="profile-details__content">
    <div class="pd-grid">
      <!-- Row 1 -->
      <div class="pd-field">
        <div class="pd-label text-semibold">Firstname</div>
        <div class="pd-box text-medium">Name</div>
      </div>

      <div class="pd-field">
        <div class="pd-label text-semibold">Lastname</div>
        <div class="pd-box text-medium">Surname</div>
      </div>

      <!-- Row 2 -->
      <div class="pd-field">
        <div class="pd-label text-semibold">Address</div>
        <div class="pd-box text-medium">Address 100</div>
      </div>

      <div class="pd-field">
        <div class="pd-label text-semibold">City</div>
        <div class="pd-box text-medium">City</div>
      </div>

      <!-- Row 3 (center) -->
      <div class="pd-field pd-field--center">
        <div class="pd-label text-semibold">Phone number</div>
        <div class="pd-box text-medium">11111111</div>
      </div>
    </div>
  </div>

  <div class="profile-details__actions">
    @if (isDriver) {
        <button type="button" class=" btn btn--ghost profile-details__action-btn btn-scale text-semibold"routerLink="/profile/car">
        Car
        </button>
    }

    @if (!isDriver)
    {
        <button type="button" class="btn btn--primary profile-details__action-btn btn-scale text-semibold" routerLink="/profile/edit">
            Edit
        </button>
    }
    @else 
    {
        <button type="button" class="btn btn--primary profile-details__action-btn btn-scale text-semibold" routerLink="/profile/driver-edit">
            Edit
        </button>
    }
    </div>
</div>