:host {
  display: block;
  background-color: #1D171780;;
  color: var(--color-white);
  box-sizing: border-box;
}

.profile-details {
  height: 100%;
  padding: 40px 60px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

/* Centering content */
.profile-details__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 35px;
}

/* grid: 2 columns 3 rows */
.pd-grid {
  display: grid;
  grid-template-columns: 320px 320px;
  column-gap: 110px;
  row-gap: 34px;
}

/* labels */
.pd-label {
  font-size: 17px;
  line-height: 1.1;
  margin-bottom: 2px;
}

/* textbox */
.pd-box {
  height: 42px;
  border-radius: 6px;
  background: var(--color-white);

  display: flex;
  align-items: center;
  padding: 0 16px;

  color: var(--color-text);
  font-size: 16px;
  box-sizing: border-box;
}

/* third row center */
.pd-field--center {
  grid-column: 1 / -1;
  justify-self: center;
  width: 320px;
}

/* Edit button bottom right */
.profile-details__edit-btn {
  align-self: flex-end;

  padding: 10px 44px;
  border-radius: 999px;
  border: none;

  background: var(--color-secondary);
  color: var(--color-text);

  cursor: pointer;
}

/* responsive */
@media (max-width: 900px) {
  .profile-details {
    padding: 28px;
  }

  .pd-grid {
    grid-template-columns: 1fr;
    width: min(320px, 100%);
    column-gap: 0;
  }

  .pd-field--center {
    width: 100%;
  }
}