<aside class="leftsidebar" [class.open]="open">
  <div class="leftsidebar__content">
    <img class="taxicar" src="assets/taxi.png" alt="Taxi Car" />
    <div class="divider"></div>

    <label class="field">
      <span class="field__label">Pickup location</span>
      <input class="field__input" placeholder="Start" />
    </label>

    <label class="field">
      <span class="field__label">Destination</span>
      <input class="field__input" placeholder="Finish" />
    </label>

    <div class="stats">
  <div class="stat">
    <img class="stat__icon stat__icon--big" src="assets/icons/taxi.png" alt="Taxi" />
    <span>Kilometers: 100</span>
  </div>

  <div class="stat">
    <img class="stat__icon stat__icon--big" src="assets/icons/clock.png" alt="Time" />
    <span>Time: 2h 14min</span>
  </div>

  <div class="stat">
    <img class="stat__icon" src="assets/icons/dollar.png" alt="Price" />
    <span>Price: 200$</span>
  </div>
</div>


    <button class="cta">Book a ride</button>
  </div>
</aside>
