<aside class="leftsidebar" [class.open]="open">
  <div class="leftsidebar__content">

    <div class="leftsidebar__header">
      <img class="taxicar" src="assets/taxi.png" alt="Taxi Car" />
      <div class="divider"></div>
    </div>

    <div class="leftsidebar__scroll">

      @if (userRole() === UserRole.GUEST) {
        <app-guest-left-menu />
      }
      @else if (userRole() === UserRole.PASSENGER) {
        <app-passenger-left-menu />
      }
      @else if (userRole() === UserRole.ADMIN) {
        <app-admin-left-menu />
      }
      @else if (userRole() === UserRole.DRIVER) {
        <app-driver-left-menu />
      }

    </div>
  </div>
</aside>
