.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom:20px;
}

.auth-field {
  width: min(300px, 100%);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.auth-label {
  font-size: var(--fs-lg);
  font-weight: var(--weight-regular);
}

.auth-input {
  height: 36px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: var(--color-white);
  color: var(--color-text);
  padding: 0 14px;
  box-sizing: border-box;
}