@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500;600&display=swap");

:root {
  /* Colors */
  --color-primary: #111111;
  --color-secondary: #ffee02;
  --color-sidepanel: #111111f2;
  --color-text: #323232;
  --color-white: #ffffff;
}

/* Global Styles */
body {
  margin: 0;
  font-family: "Roboto Serif", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", serif;
  color: var(--color-text);
  background-color: var(--color-primary);
}

/* Utility classes for font weights */
.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

/* Background with texture */
.app-bg-textured {
  position: relative;
  background-color: var(--color-primary);
  overflow: hidden;
}

.app-bg-textured::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;
  width: 175%;
  height: 175%;

  background-image: url("./assets/bg-texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transform: translate(-50%, -50%) rotate(-35deg);
  transform-origin: center center;

  pointer-events: none;
  z-index: 0;
}

.app-bg-textured > * {
  position: relative;
  z-index: 1;
}