.d-top{
  margin-bottom: 10px;
}

.d-status-row{
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  column-gap: 15px;
  row-gap: 6px;
}

.d-status{
  font-size: var(--fs-h1);
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1;
}

.d-status--active{
  color: #1aa34a;
}

.d-status--inactive{
  color: #c51515;
}

.d-switch{
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-secondary);
  font-size: var(--fs-md);
  border-radius: 10px;
}

.d-switch:hover{
  background: rgba(255, 238, 2, 0.08);
}

.d-today{
  justify-self: center;
  color: var(--color-white);
  display: grid;
  gap: 2px;
  text-align: left;
}

.d-today__label{
  margin-right: 10px;
  opacity: 0.9;
  font-size: var(--fs-sm);
}

.d-today__val{
  font-size: var(--fs-md);
  font-weight: var(--weight-semibold);
}

.d-sep{
  height: 2px;
  width: 100%;
  background: rgba(255, 238, 2, 0.55);
  margin-top: 20px;
}

.p-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.p-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: transparent;
  border: none;
  cursor: pointer;

  padding: 10px 8px;
  border-radius: 10px;

  color: var(--color-white);
}

.p-item:hover {
  background: rgba(255, 238, 2, 0.08);
}

.p-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.material-symbols-outlined{
  color: var(--color-secondary);
  line-height: 1;
}

.p-text {
  font-weight: var(--weight-semi-bold);
}

.p-chev {
  display: inline-block;
  transition: transform 0.2s ease;
  opacity: 0.9;
}

.p-chev--open {
  transform: rotate(180deg);
}

.p-panel {
  margin-left: 17px;
  padding: 6px 8px 10px;
  border-left: 2px solid rgba(255, 238, 2, 0.25);
}

.p-panel__label {
  color: var(--color-secondary);
  font-size: var(--fs-md)
}
