:host {
  display: block;
  height: 100%;
}

.msg-text {
  max-width: 360px;
  font-weight: var(--weight-regular);
}

[card-actions]{
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  flex-wrap: wrap;
}