:host {
  display: block;
  height: 100%;
}

/* Full-screen layer*/
.pe-screen {
  height: calc(100vh - 64px);
  overflow: hidden;
  display: grid;
  place-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}

.pe-title {
  text-align: center;
  letter-spacing: 0.12em;
  margin-bottom: 12px;
  font-size: var(--fs-h1);
  font-weight: var(--weight-medium);
}

/* Form layout */
.pe-form {
  width: min(420px, 100%);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}

.pe-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Labels*/
.pe-label {
  font-size: var(--fs-lg);
  line-height: 1.1;
  margin-bottom: 2px;
}

/* Inputs */
.pe-input {
  height: 42px;
  border-radius: 6px;
  border: none;
  outline: none;

  background: var(--color-white);
  color: var(--color-text);
  font-size: var(--fs-lg);

  padding: 0 16px;
  box-sizing: border-box;
}

/* Buttons bottom-right */
.pe-actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}

.pe-btn {
  min-width: 120px;
  height: 40px;
  border-radius: 999px;
  cursor: pointer;
  padding: 0 18px;
  border: 4px solid transparent;
  box-sizing: border-box;
}

.pe-btn--ghost {
  background: var(--color-white);
  color: var(--color-text);
  border-color: var(--color-secondary);
}

.pe-btn--primary {
  background: var(--color-secondary);
  color: var(--color-text);
  border-color: var(--color-secondary);
}

/* Extra safety for smaller heights */
@media (max-height: 750px) {
  .pe-card {
    padding: 14px 20px 12px;
  }

  .pe-title {
    margin-bottom: 10px;
  }

  .pe-label {
    font-size: var(--fs-md)
  }

  .pe-input {
    height: 38px;
    font-size: var(--fs-lg);
  }

  .pe-actions {
    margin-top: 8px;
  }
}
