<div class="cr">
  <div class="cr-header">
    <span class="material-symbols-outlined header-icon">directions_car</span>
    <span class="header-title">Current ride</span>
  </div>

  <div class="cr-main-info">
    <h2 class="driver-info">
      Driver name: <span class="highlight-yellow">{{ ride().driverFirstName }} {{ ride().driverLastName }}</span>
    </h2>
    
    <p class="eta-info">
      Estimated time remaining: 
      <span class="highlight-yellow">
        @if (remainingMinutes() !== null) {
          {{ remainingMinutes() }}min
        } @else {
          Calculating...
        }
      </span>
    </p>
  </div>

  <div class="cr-field">
    <div class="cr-label text-regular">Pickup location</div>
    <div class="cr-input text-medium">{{ ride().startAddress }}</div>
  </div>

 <div class="stations-list">
  @for (stop of stations(); track $index) {
    <div class="station-item">
      <span class="dot"></span>
      {{ stop }}
    </div>
  }
</div>


  <div class="cr-field">
    <div class="cr-label text-regular">Destination</div>
    <div class="cr-input text-medium">{{ ride().endAddress }}</div>
  </div>

  <div class="cr-actions cr-actions--active">
    <button type="button" class="btn-sm btn--ghost text-semibold btn-scale cr-full-width" (click)="reportInconsistency()">
      Report Inconsistency
    </button>
    <button type="button" class="btn-sm btn--danger text-semibold btn-scale cr-full-width" (click)="panic()">
      PANIC
    </button>
  </div>
</div>

@if (showReportModal()) {
  <app-inconsistency-report-modal [rideId]="ride().rideId" (close)="showReportModal.set(false)" />
}

