@if (showRatingModal() && lastFinishedRideId()) {
  <app-driver-rating-modal 
    [rideId]="lastFinishedRideId()!" 
    [raterId]="authService.userId()!" 
    (close)="showRatingModal.set(false)"
    (submitted)="showRatingModal.set(false)">
  </app-driver-rating-modal>
}
<nav class="p-menu">
  @if (activeRide(); as active) {
    <div class="p-panel p-panel--active" style="display: block; border: none; padding: 0;">
        <app-passenger-active-ride-panel [ride]="active" />
    </div>
  }
  @else {
    <button class="p-item" type="button" (click)="toggle('book')">
      <span class="p-left">
        <span class="material-symbols-outlined">local_taxi</span>
        <span class="p-text">Book a ride</span>
      </span>
      <span class="p-chev" [class.p-chev--open]="bookOpen()">▾</span>
    </button>

    @if (bookOpen()) {
      <div class="p-panel" #bookPanel>
          <app-passenger-book-ride-panel />
      </div>
    }

    <div id="favorites-anchor"></div>

    <button class="p-item" type="button" (click)="toggle('fav')">
      <span class="p-left">
        <span class="material-symbols-outlined">star</span>
        <span class="p-text">Favorite rides</span>
      </span>
      <span class="p-chev" [class.p-chev--open]="favOpen()">▾</span>
    </button>

    @if (favOpen()) {
      <div class="p-panel">
        <app-favorite-rides-panel #favPanel [open]="true"/>
      </div>
    }

    <button class="p-item" type="button" (click)="toggle('sched')">
      <span class="p-left">
        <span class="material-symbols-outlined">calendar_month</span>
        <span class="p-text">Scheduled rides</span>
      </span>
      <span class="p-chev" [class.p-chev--open]="schedOpen()">▾</span>
    </button>

    @if (schedOpen()) {
      <div class="p-panel">
        <app-scheduled-rides-panel #schedPanel [open]="true"/>
      </div>
    }
  }

</nav>
