/* Sidebar container */
:host {
  display: block;
}

/* Sidebar layout */
.profile-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* TOP part - 1/3 */
.profile-sidebar__top {
  flex: 1 1 0;
  padding: 24px;
  background: #ffee02bf;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/*Bottom part - 2/3*/
.profile-sidebar__bottom {
  flex: 2 1 0;
  padding: 24px;
  background: #ffee0280;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.profile-sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-sidebar__logout {
  align-self: flex-start;
  padding: 8px 18px;
  border-radius: 999px;
  border: 1px solid #111;
  background: #ffee02;
  cursor: pointer;
}

/* Divider */
.profile-sidebar__divider {
  position: relative;
  display: block;
  height: 0;
  margin: 0;
  border-top: 7px solid var(--color-text);
  z-index: 2;
}

.profile-sidebar__divider::before,
.profile-sidebar__divider::after {
  content: "";
  position: absolute;
  top: -13.5px;
  width: 20px;
  height: 20px;
  background: var(--color-text);
  transform: rotate(45deg);
}

.profile-sidebar__divider::before {
  left: 2.5px;
}
.profile-sidebar__divider::after {
  right: 2.5px;
}
