/* Sidebar container */
:host {
  display: block;
}

/* Sidebar layout */
.profile-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* TOP part - 1/3 */
.profile-sidebar__top {
  flex: 1 1 0;
  padding: 24px;
  background: #ffee02bf;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  color: var(--color-text);
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: auto auto;
  column-gap: 22px;
  row-gap: 10px;
  align-content: start;
}

/* Avatar circle */
.profile-sidebar__avatar {
  grid-column: 1;
  grid-row: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--color-secondary);
  border: 10px solid var(--color-primary);
  display: grid;
  place-items: center;
}

.profile-sidebar__avatar-icon {
  width: 85px;
  height: 85px;
  color: var(--color-primary);
}

/* Identity (name + email) */
.profile-sidebar__identity {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  text-align: center;  
}

.profile-sidebar__name {
  font-size: var(--fs-display);
  line-height: 1.05;
  margin: 0;
}

.profile-sidebar__email {
  font-size: var(--fs-lg);
  margin-top: 4px;
}

/* Links under */
.profile-sidebar__link {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  font-size: var(--fs-sm);
  opacity: 0.95;
  font-weight: var(--weight-semibold);
  margin-bottom: 15px;
  margin-top: 5px;
  color: var(--color-text);
}

.profile-sidebar__link:hover {
  text-decoration: underline;
}

.profile-sidebar__link--image {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
}

.profile-sidebar__link--password {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}

/*Bottom part - 2/3*/
.profile-sidebar__bottom {
  flex: 2 1 0;
  padding: 24px;
  background: #ffee0280;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Menu items (left aligned, icon before) */
.profile-sidebar__menu-item {
  display: flex;
  align-items: center;
  gap: 14px;

  width: 100%;
  padding: 10px 0;

  background: transparent;
  border: 0;
  cursor: pointer;

  color: var(--color-white);
  font-size: var(--fs-h2);
  text-align: left;
}

.profile-sidebar__menu-item:hover {
  opacity: 0.85;
}

.profile-sidebar__menu-icon {
  display: inline-flex;
  width: 28px;
  height: 28px;
}

.profile-sidebar__menu-icon svg {
  width: 28px;
  height: 28px;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  color: var(--color-secondary);
}

/* Footer */
.profile-sidebar__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 12px;
}

.profile-sidebar__active {
  color: var(--color-text);
  font-size: var(--fs-md);
}

.profile-sidebar__logout {
  align-self: flex-end;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;

  color: var(--color-text);
  font-size: var(--fs-lg);
  font-weight: var(--weight-semibold);
  opacity: 0.95;

  margin-left: auto;
}

.profile-sidebar__logout:hover {
  opacity: 0.8;
}

.profile-sidebar__logout-icon {
  display: inline-flex;
  width: 25px;
  height: 25px;
}

.profile-sidebar__logout-icon svg {
  width: 25px;
  height: 25px;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Divider */
.profile-sidebar__divider {
  position: relative;
  display: block;
  height: 0;
  margin: 0;
  border-top: 7px solid var(--color-text);
  z-index: 2;
}

.profile-sidebar__divider::before,
.profile-sidebar__divider::after {
  content: "";
  position: absolute;
  top: -13.5px;
  width: 20px;
  height: 20px;
  background: var(--color-text);
  transform: rotate(45deg);
}

.profile-sidebar__divider::before {
  left: 2.5px;
}
.profile-sidebar__divider::after {
  right: 2.5px;
}

.profile-sidebar__blocked{
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  font-size: var(--fs-h1);
  text-decoration: underline;
  letter-spacing: 0.5px;

  color: var(--color-text)
}

.profile-sidebar__blocked:hover{
  opacity: 1;
}
