<div class="app-bg-textured card-screen">
  <div class="glass-panel glass-panel--ep card-panel">

    <div class="card-title">
      <div>{{ title }}</div>
    </div>

    <div class="card-divider"></div>

    <div class="card-body">
      <ng-content></ng-content>
    </div>

    <div class="card-actions">
      
      <ng-content select="[auth-card-footer]"></ng-content>
      <button
        type="submit"
        class="btn btn--primary btn-scale text-semibold"
        [attr.form]="formId"
      >
        {{ buttonText }}
      </button>

    </div>

  </div>
</div>
