<aside class="rightsidebar" [class.open]="open">
  <div class="rightsidebar__content">
    <nav class="rightmenu">

      <!-- PROFILE MODE (postoji već: GUEST / PASSENGER / DRIVER / ADMIN) -->
      <ng-container *ngIf="mode === 'profile'">

        <!-- GUEST -->
        <ng-container *ngIf="userRole() === UserRole.GUEST">
          <a class="rightmenu__item rightmenu__item--active" routerLink="/login">Login</a>
          <a class="rightmenu__item" routerLink="/register-passenger">Register</a>
          <a class="rightmenu__item" routerLink="/about">About us</a>
        </ng-container>

        <!-- PASSENGER -->
        <ng-container *ngIf="userRole() === UserRole.PASSENGER">
          <a class="rightmenu__item rightmenu__item--active" routerLink="/profile">Profile</a>
          <a class="rightmenu__item" routerLink="/usage-report">Usage report</a>
          <a class="rightmenu__item" routerLink="/passenger-history">Ride history</a>
          <a class="rightmenu__item" routerLink="/support">Support</a>
          <a class="rightmenu__item" routerLink="/about">About us</a>
        </ng-container>

        <!-- DRIVER -->
        <ng-container *ngIf="userRole() === UserRole.DRIVER">
          <a class="rightmenu__item rightmenu__item--active" routerLink="/profile">Profile</a>
          <a class="rightmenu__item" routerLink="/usage-report">Usage report</a>
          <a class="rightmenu__item" routerLink="/driver-history">Ride history</a>
          <a class="rightmenu__item" routerLink="/support">Support</a>
          <a class="rightmenu__item" routerLink="/about">About us</a>
        </ng-container>

        <!-- ADMIN -->
        <ng-container *ngIf="userRole() === UserRole.ADMIN">
          <a class="rightmenu__item rightmenu__item--active" routerLink="/profile">Profile</a>
          <a class="rightmenu__item" routerLink="/support">Support</a>
          <a class="rightmenu__item" routerLink="/about">About us</a>
        </ng-container>

      </ng-container>

      <!-- ADMIN MODE (otvara se na ⋮) -->
      <ng-container *ngIf="mode === 'admin' && userRole() === UserRole.ADMIN">
        <a class="rightmenu__item rightmenu__item--active" routerLink="/admin/add-driver">
          Add driver
        </a>
        <a class="rightmenu__item" routerLink="/usage-report">Usage report</a>
        <a class="rightmenu__item" routerLink="/admin/ride-history">Ride history</a>
        <a class="rightmenu__item" routerLink="/panic-history">Panic history</a>
        <a class="rightmenu__item" routerLink="/admin/pricing">Price list</a>
        <a class="rightmenu__item" routerLink="/admin/live-rides">Live rides</a>

      </ng-container>

    </nav>
  </div>
</aside>
