:host {
  display: block;
  background-color: #1D171780;;
  color: var(--color-white);
  box-sizing: border-box;
}

.profile-details {
  height: 100%;
  padding: 40px 60px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

/* Centering content */
.profile-details__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 35px;
}

/* grid: 2 columns 3 rows */
.pd-grid {
  display: grid;
  grid-template-columns: 320px 320px;
  column-gap: 110px;
  row-gap: 34px;
}

/* labels */
.pd-label {
  font-size: var(--fs-lg);
  margin-bottom: 2px;
}

/* textbox */
.pd-box {
  height: 42px;
  border-radius: 6px;
  background: var(--color-white);

  display: flex;
  align-items: center;
  padding: 0 16px;

  color: var(--color-text);
  font-size: var(--fs-lg);
  box-sizing: border-box;
}

/* third row center */
.pd-field--center {
  grid-column: 1 / -1;
  justify-self: center;
  width: 320px;
}

/* Buttons */
.profile-details__actions{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 15px;
}

/* responsive */
@media (max-width: 1150px) {
  .profile-details {
    padding: 28px;
  }

  .pd-grid {
    grid-template-columns: 1fr;
    width: min(320px, 100%);
    column-gap: 0;
  }

  .pd-field--center {
    width: 100%;
  }
}

.driver-car-details {
  position: relative;
}

.driver-car-details::before {
  content: "";
  position: absolute;
  inset: 0;

  filter: brightness(0.75);

  background: url("../../../../../assets/taxi.png") center / 900px auto no-repeat;

  pointer-events: none;
  z-index: 0;
}

.driver-car-details .profile-details__content,
.driver-car-details .profile-details__actions {
  position: relative;
  z-index: 1;
}

.dd-label {
  font-size: var(--fs-h2);
}