<div class="profile-details driver-car-details">
  <div class="profile-details__content">
    <div class="pd-grid">
      <!-- Row 1 -->
      <div class="pd-field">
        <div class="pd-label text-semibold">Model</div>
        <div class="pd-box text-medium">1978 Volkswagen Type 2 T2</div>
      </div>

      <div class="pd-field">
        <div class="pd-label text-semibold">Type</div>
        <div class="pd-box text-medium">Luxury</div>
      </div>

      <!-- Row 2 -->
      <div class="pd-field">
        <div class="pd-label text-semibold">Licence plate</div>
        <div class="pd-box text-medium">NS-111-AB</div>
      </div>

      <div class="pd-field">
        <div class="pd-label text-semibold">Number of seats</div>
        <div class="pd-box text-medium">5</div>
      </div>

      <!-- Row 3: 2 text fields -->
      <div class="pd-field">
        <div class="pd-label text-semibold dd-label">Pet friendly: Yes</div>
      </div>

      <div class="pd-field">
        <div class="pd-label text-semibold dd-label">Child seat available: No</div>
      </div>
    </div>
  </div>

  <div class="profile-details__actions">
    <button
      type="button"
      class="btn btn--ghost profile-details__action-btn btn-scale text-semibold"
      routerLink="/profile"
    >
      Back
    </button>

    <button
      type="button"
      class="btn btn--primary profile-details__action-btn btn-scale text-semibold"
      routerLink="/profile/edit"
    >
      Edit
    </button>
  </div>
</div>
