<app-auth-card title="Forgot password">

    <form id="forgotPasswordForm" class="auth-form" [formGroup]="form" (ngSubmit)="save()" autocomplete="off">
        <div class="auth-field">
            <label class="auth-label text-semibold">Enter your email address</label>
            <input class="auth-input text-medium" type="email" formControlName="email" />
            @if (isInvalid('email')) {
            <div class="form-error">
                @if (c('email').hasError('required')) {
                Email is required
                }
                @else if (c('email').hasError('email')) {
                Enter a valid email address
                }
            </div>
            }
        </div>
    </form>

    <button card-actions class="btn btn--ghost btn-scale text-semibold" [routerLink]="'/login'" type="button">
        Cancel
    </button>

    <button card-actions type="submit" class="btn btn--primary btn-scale text-semibold" form="forgotPasswordForm">
        Send email
    </button>
</app-auth-card>