<app-auth-card title="Forgot Password" buttonText="Send code">
  <form 
  [formGroup]="ForgotPasswordForm"
  id="forgotPasswordForm"
  (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email">

        <mat-error *ngIf="ForgotPasswordForm.get('email')?.hasError('required')">
            Email is required
        </mat-error>

        <mat-error *ngIf="ForgotPasswordForm.get('email')?.hasError('email')">
            Please enter a valid email address
        </mat-error>
    </mat-form-field>
</form>

    <button 
      class="btn btn--ghost btn-scale text-semibold"
      [routerLink]="'/login'"
      type="button"
      auth-card-footer>Cancel</button>
</app-auth-card>
